[2021-01-28 16:20] chinmaym07 opened #5 "Bug: Update README.md"
## Describe the Bug

It is written here that this is the backend of the project .

![Screenshot_2021-01-28 anitab-org stem-diverse-tv-cms](https://user-images.githubusercontent.com/44670961/106166677-70d4cf80-61b2-11eb-9c56-9851b0a1f61c.png)

There is written get into anitab.org.github.io directory.

![Screenshot_2021-01-29 anitab-org stem-diverse-tv-cms](https://user-images.githubusercontent.com/

[2021-01-31 08:25] annabauza commented on #5
approved @chinmaym07

[2021-01-31 08:30] annabauza opened #6 "docs: Create Pull Request template"
## Describe the bug/feature
There is no pull request template for this repository as of now. Therefore the pull request template mentioned below needs to be created and placed in `./github/PULL_REQUEST_TEMPLATE.md` (so that it gets loaded).

Template attached below:

[code]

## Expected behavior
- [ ] Created a ./github/PULL_REQUEST_TEMPLATE.md
- [ ] Pull request template is preloaded when contrib

[2021-01-31 08:32] annabauza opened #7 "docs: Create Contribution guidelines markdown file"
## Description
As a developer,
I need to see contribution guidelines,
so that I can contribute.

## Acceptance Criteria
File path `./github/CONTRIBUTE.md`

### Update [Required]
- [ ] Create CONTRIBUTING.md - Reference: https://github.com/anitab-org/mentorship-android/blob/develop/.github/CONTRIBUTING.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2

##

[2021-01-31 08:32] chinmaym07 commented on #5
@annabauza  Please label it as first timer issue ...as it can serve as a starting point for anyone wanting to contribute to this project. !

[2021-01-31 08:33] annabauza opened #8 "docs: Create Issue Templates"
## Describe the bug/feature
As a developer,
I need to see the issue templates preloaded on clicking new issue,
so that I can use those templates to create issues.

## Acceptance Criteria
### Update [Required]
Created Issue Templates for
- [ ] User Story
- [ ] New Feature
- [ ] Bug Report
Reference: https://github.com/anitab-org/anitab-org.github.io/tree/develop/.github/ISSUE_TEMPLATE

## Definitio

[2021-01-31 08:36] chinmaym07 commented on #6
@annabauza I want to take this up.

[2021-01-31 09:40] annabauza opened #9 "feat: Create register form so user could register to our backend"
### Is your feature request related to a problem? Please describe.
As a user I want to fill register form  so I could create an account on our [backend](https://stem-diverse-tv.herokuapp.com/).

### Describe the solution you'd like
Registration form design can be find [here](https://www.figma.com/file/klxnTZJ8Z2uAtxHS1CRTWO/Untitled?node-id=1%3A10)
![Desktop - 1 (2)](https://user-images.githubuser

[2021-01-31 09:40] annabauza commented on #6
@chinmaym07 yours

[2021-01-31 09:52] annabauza opened #10 "feat: Create login form so user could login to our backend"
### Is your feature request related to a problem? Please describe.
As a user I want to fill login form  so I could login into our [backend](https://stem-diverse-tv.herokuapp.com/).

### Describe the solution you'd like
Login form design can be find [here](https://www.figma.com/file/klxnTZJ8Z2uAtxHS1CRTWO/Untitled?node-id=3%3A1)
![Login](https://user-images.githubusercontent.com/31966073/106380387-

[2021-01-31 10:44] chinmaym07 commented on #9
@annabauza  I have completed issue #6  .If possible Can I try to work upon this.

[2021-01-31 11:31] vatsalkul commented on #10
Can i take this issue @annabauza

[2021-01-31 12:06] annabauza commented on #10
yours!

[2021-01-31 12:08] annabauza commented on #9
@chinmaym07 yours!

[2021-01-31 13:30] annabauza opened #12 "Feat: home page with add category functionality"
### Is your feature request related to a problem? Please describe.
As a user I want to add category into our [backend](https://stem-diverse-tv.herokuapp.com/).

### Describe the solution you'd like
Follow the [design](https://www.figma.com/file/klxnTZJ8Z2uAtxHS1CRTWO/Untitled?node-id=12%3A1) and use add category endpoint from [backend](https://stem-diverse-tv.herokuapp.com/).
![Home (2)](https://u

[2021-01-31 14:12] Aaishpra commented on #8
@annabauza can I take this up?

[2021-01-31 14:15] Aaishpra commented on #6
@annabauza this issue is already fixed by #11 can you please close this?
Thanks

[2021-01-31 14:43] NenadPantelic commented on #7
@annabauza  I would take this one.

[2021-01-31 14:44] annabauza commented on #8
sure @Aaishpra , yours

[2021-01-31 14:46] #6 closed

[2021-01-31 14:46] NenadPantelic commented on #12
Can I take this one @annabauza?

[2021-01-31 14:47] annabauza commented on #7
yours @NenadPantelic

[2021-01-31 14:54] annabauza commented on #12
@NenadPantelic you have like 3 or 4 issues. Release issues so we know you work only on 1 at the time.

[2021-01-31 15:00] NenadPantelic commented on #12
Sure, I'm nearly done with 1 of them - I will open a PR tomorrow probably. I didn't start with the second one (https://github.com/anitab-org/stem-diverse-tv/issues/24), because I was not sure should we restructure the database or we will solve that on the client side (we discussed that yesterday, so I'm sure now), I will be working on that since tomorrow, but yeah, I can release that until I start

[2021-01-31 15:03] NenadPantelic commented on #12
I suppose I can work on two issues if they're from different repos?

[2021-01-31 15:08] annabauza commented on #12
@isabelcosta ☝️ you think?

[2021-01-31 15:11] NenadPantelic commented on #7
@annabauza  If I think about this more in-depth, probably this is a good `First-timers` issue :thinking:. What do you think?

[2021-01-31 15:13] annabauza commented on #7
Yes good call

[2021-01-31 18:43] chinmaym07 opened #13 "docs: Create Code of Conduct markdown file"
## Description
As a developer,
I need to see Code of Conduct for the repository
## Acceptance Criteria
File path  `./github/CODE_OF_CONDUCT.md`
## Update [Required]

- [ ] Create CODE_OF_CONDUCT.md - Reference: https://github.com/anitab-org/mentorship-android/blob/develop/.github/CODE_OF_CONDUCT.md

## Definition of Done

- [ ] All of the required items are completed.
- [ ] Approval by 2

## Estim

[2021-01-31 18:49] chinmaym07 opened #14 "docs: Create Reporting Guidelines markdown file"
## Description
As a developer,
I need to see Reporting Guidelines for the repository
## Acceptance Criteria
File path  `./github/REPORTING_GUIDELINES.md`
## Update [Required]

- [ ] Create REPORTING_GUIDELINES.md - Reference: https://github.com/anitab-org/mentorship-android/blob/develop/.github/REPORTING_GUIDELINES.md
## Definition of Done

- [ ] All of the required items are completed.
- [ ] Appr

[2021-02-01 10:36] Amulya-coder commented on #5
Hi, I would like to work on this, Can I please be assigned.

[2021-02-01 20:12] isabelcosta commented on #12
I think if it is on different repositories its fine. I hope in the open pull requests, you are done with all of your changes and only waiting for review. @NenadPantelic
cc @annabauza

[2021-02-02 08:23] #8 closed

[2021-02-02 08:57] jalajcodes commented on #12
@annabauza  If it's available I'd like to work on it

[2021-02-02 09:12] jalajcodes commented on #12
Is this issue available? @annabauza @isabelcosta

[2021-02-03 04:15] Aryaman19 commented on #7
Can I work on this issue?

[2021-02-03 16:49] Rahulm2310 commented on #14
If approved, I would like to take up this issue.

[2021-02-03 18:39] annabauza commented on #5
@Amulya-coder yours

[2021-02-03 18:41] annabauza commented on #14
approved, @Rahulm2310 you already have first timer issue.

[2021-02-03 18:41] annabauza commented on #13
approved

[2021-02-03 18:43] annabauza commented on #12
yes @jalajcodes and we already have merged get all categories so the list can be implemented. Although login has not been merged yet.

[2021-02-03 18:43] annabauza commented on #9
how it's going @chinmaym07 ?

[2021-02-03 18:44] annabauza commented on #10
how it's going @vatsalkul ?

[2021-02-03 18:46] chinmaym07 commented on #9
Yes working on it .I will try to send a pr asap.  👍🏻 😀 @annabauza

[2021-02-03 19:18] Rahulm2310 commented on #14
Yeah in the backend repo...not in this repo 🙂

[2021-02-03 19:28] annabauza commented on #14
first time issue is per organisation if I remember correctly. @isabelcosta ?

[2021-02-03 19:29] annabauza commented on #9
great thanks!

[2021-02-03 19:30] annabauza commented on #7
yes @Aryaman19 yours

[2021-02-03 19:33] vatsalkul commented on #10
@annabauza I am making myself familiar with TypeScript and React. These are kind of new tech stack for me. If you want you can take this issue and I can learn react in the meantime.

[2021-02-03 19:36] annabauza commented on #10
Yeah I think this is kind of a blocker, there will be planty more shortly, but we need to be able to login to our system first :)

[2021-02-03 20:12] isabelcosta commented on #14
yes it's a good opportunity for newcomers to introduce them to STEM Diverse TV @annabauza

[2021-02-03 21:58] vatsalkul commented on #10
Sure @annabauza go ahead with this issue.

[2021-02-03 22:00] annabauza commented on #10
I released it for anyone, @vatsalkul I have very limited time lately.

[2021-02-03 22:01] vatsalkul commented on #10
No issue. I'll try to do it asap.

[2021-02-04 07:08] jalajcodes commented on #10
I can work on it... I have plenty of experience with react and typescript

[2021-02-04 08:58] jalajcodes commented on #12
@annabauza If you assign me to Login issue I can work on it first.

[2021-02-04 19:31] annabauza commented on #12
Use backend swagger to get token. It's not a blocker.

[2021-02-04 19:32] annabauza commented on #10
Ahh OK so work on that first and I can u assign you from the other.

[2021-02-04 19:34] annabauza commented on #12
Ok so this one is free I assigned you to login @jalajcodes

[2021-02-04 19:36] annabauza commented on #12
Ty ty

[2021-02-05 02:48] jalajcodes commented on #10
I didn't understand 😅

[2021-02-05 12:07] annabauza commented on #10
Yes if license allow

[2021-02-05 12:17] jalajcodes commented on #10
most npm packages are open source so license shouldn't be a problem. Btw I just finished styling the login page, will start on making it work tomorrow.

[2021-02-05 18:34] annabauza commented on #10
open source is great @jalajcodes

[2021-02-05 18:48] annabauza commented on #10
@jalajcodes looking forward for that. Can we use Material UI library for that?

[2021-02-05 18:50] prachi237 commented on #14
If it's open I would like to work on this issue

[2021-02-05 18:52] annabauza commented on #14
yours @prachi237

[2021-02-05 20:01] NenadPantelic commented on #12
@annabauza Can I take this one if it's available?

[2021-02-06 05:23] jalajcodes commented on #10
@annabauza Okay!

[2021-02-06 12:32] #5 closed

[2021-02-07 04:46] harsh1206 commented on #13
can i work on this issue ?

[2021-02-07 09:48] #10 closed

[2021-02-07 10:58] annabauza opened #19 "bug: build index.html is empty page"
### Describe the bug
When building production index.html is empty. I think the issue has started with migrating App.js to components

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/stem-diverse-tv-cms/
2. See see page is blank

### Expected behavior
Should be visible the same web as in debug mode

### Screenshots
<img width="833" alt="Screenshot 2021-02-07

[2021-02-07 10:59] annabauza commented on #19
@jalajcodes I think your pr broke build. Can you check it please?

[2021-02-07 12:16] annabauza commented on #13
yours @harsh1206

[2021-02-07 12:17] annabauza commented on #12
@NenadPantelic yes please.

[2021-02-07 13:04] annabauza commented on #19
ok I'll fix it I know what is the issue

[2021-02-07 13:08] annabauza commented on #19
fixed

[2021-02-07 13:08] #19 closed

[2021-02-07 13:11] annabauza commented on #9
@chinmaym07 we have [login](https://anitab-org.github.io/login) can you follow [this PR](https://github.com/anitab-org/stem-diverse-tv-cms/pull/18) for register to keep consistancy?

[2021-02-07 13:22] chinmaym07 commented on #9
Yes @annabauza.I have completed this issue only some validation checks work is left & I am working on that . Will make a pr asap. Sorry for the delay .

[2021-02-07 13:23] annabauza commented on #9
Great looking forward for that!

[2021-02-07 19:29] #13 closed

[2021-02-08 16:45] #14 closed

[2021-02-08 16:48] Rahulm2310 opened #22 "Bug: Clicking on logo goes to incorrect link"
### Describe the bug

Clicking on the logo goes to https://anitab-org.github.io/ whereas it should go to https://anitab-org.github.io/stem-diverse-tv-cms/ .After that when we refresh, [AnitaB.org open source.](https://anitab-org.github.io/) website shows up.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/stem-diverse-tv-cms/
2. Click on logo
3. Refresh the

[2021-02-08 16:50] Rahulm2310 commented on #22
@annabauza Can you please confirm/approve this issue. If yes, I would like to work on this. Thanks 🙂

[2021-02-08 16:51] annabauza commented on #22
Approved

[2021-02-08 16:57] Rahulm2310 commented on #22
@annabauza  Can I be assigned

[2021-02-08 16:59] annabauza commented on #22
Yours @Rahulm2310

[2021-02-08 21:22] chinmaym07 commented on #9
![Peek 2021-02-09 02-48](https://user-images.githubusercontent.com/44670961/107282925-b1213100-6a81-11eb-953f-3a45c3cde359.gif)
@annabauza  .Please check this .

[2021-02-09 07:58] chinmaym07 commented on #9
Shall I add the logo of stem diverse-cms in as an icon in tab .? @annabauza
![Screenshot from 2021-02-09 13-27-43](https://user-images.githubusercontent.com/44670961/107332785-a050d980-6ada-11eb-9096-d5d5345494e2.png)

[2021-02-09 11:05] annabauza commented on #9
Logo can be added. Reset password is not supported on backend. Multiple accounts is issue for backend.

[2021-02-09 17:37] chinmaym07 opened #25 "Add Stem Diverse logo in title bar"
### Describe the bug

Stem diverse cms doesn't have logo in the title bar .

### Expected behavior

Stem diverse Icon Logo should be added in the title bar.

### Screenshots

![Screenshot from 2021-02-09 23-06-31](https://user-images.githubusercontent.com/44670961/107403778-8ab7d000-6b2b-11eb-8ecf-32cc4bfebed7.png)

### Desktop (please complete the following information):
 - OS: Ubuntu 20.04
 - Br

[2021-02-09 17:38] chinmaym07 commented on #25
Please label it as a first timer issue. @annabauza

[2021-02-09 17:43] Rahulm2310 opened #26 "Bug: Add technical stack and setup and run instructions, branches in readme"
### Describe the bug

As this project is now actively developed, we should add technical stack and setup instructions in readme

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/stem-diverse-tv-cms
2. Scroll down to readme.md
4. See error

### Expected behavior

Technical stack and setup instructions should be added in readme.md

### Screenshots

![stem](htt

[2021-02-09 17:44] Rahulm2310 commented on #26
@annabauza Can you please confirm/approve this issue. Thanks 🙂

[2021-02-10 07:59] annabauza commented on #26
Yes @Rahulm2310

[2021-02-10 08:22] Rahulm2310 commented on #26
@annabauza Can I be assigned this

[2021-02-11 17:59] shades-7 commented on #7
hey, can I work on this?

[2021-02-11 20:54] #22 closed

[2021-02-11 20:57] annabauza commented on #26
yours @Rahulm2310

[2021-02-11 21:04] annabauza opened #27 "Registration does not work"
### Describe the bug
Registration form does not do anything.

### To Reproduce
Steps to reproduce the behaviour:
1. Go to https://anitab-org.github.io/
2. Click on Register
3. Fill registration form properly and click on Register button at the bottom of the form
4. See error registration does not work

### Expected behaviour
Should register user and show link to click

### Screenshots
![Screenshot

[2021-02-11 21:05] annabauza commented on #7
yes @shades-7 yours :)

[2021-02-11 21:06] annabauza commented on #7
sorry @shades-7 , @Aryaman19 is already assigned to this issue.

[2021-02-11 21:07] annabauza commented on #25
can't see this issue on https://anitab-org.github.io/stem-diverse-tv-cms/

[2021-02-11 21:07] #25 closed

[2021-02-12 01:52] Aryaman19 commented on #7
@annabauza I have solved the issue, created the pull request and you have already merged it 2-3 days ago.

[2021-02-12 01:54] Aryaman19 commented on #27
Can I take this issue?

[2021-02-12 07:28] annabauza commented on #7
@Aryaman19 I think you haven't link the issue in the pr properly, otherwise issue would closed itself.

[2021-02-12 07:28] #7 closed

[2021-02-12 07:30] annabauza commented on #27
@Aryaman19 yours

[2021-02-12 07:31] chinmaym07 commented on #27
@annabauza Can you please let me know what error do you get while registering .?

[2021-02-12 08:24] annabauza commented on #27
Yes can you test it and rise an issue if it occur for login as well?

[2021-02-12 13:59] HeroicHitesh opened #28 "Empty Landing Page for the website"
### Describe the bug
On opening [website](https://anitab-org.github.io/stem-diverse-tv-cms/) I am seeing a blank screen on the landing page. I guess it would be better to have some description of the website on the landing page.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://anitab-org.github.io/stem-diverse-tv-cms/'
2. See the blank screen

### Expected behavior
It would be

[2021-02-12 15:52] chinmaym07 opened #29 "Bug: Regiteration & Login Does not work on the hosted App"
### Describe the bug

A user is unable to login on the hosted website as the requests are directed to wrong API (https://anitab-org.github.io/users/login). I have registered a test user on Backend hosted on Heroku & verified the user & when I try to login with that user it shows error like 'please check your password & username '.

### Expected behavior

All the requests coming from the Frontend s

[2021-02-12 18:12] jalajcodes commented on #29
Are you going to work on it or can I?

[2021-02-12 18:48] chinmaym07 commented on #29
@jalajcodes If possible Can I do this  .?

[2021-02-13 01:11] jalajcodes commented on #29
Sure go ahead! 😉

[2021-02-13 02:16] Rahulm2310 opened #30 "Bug: Register form not completely visible"
### Describe the bug

The register UI is not completely visible on laptop screen size and not scrollable. Also, the alerts are not completely visible and just shows up for merely 1 second.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/stem-diverse-tv-cms/
2. Click on 'register'
4. See error

### Expected behavior

The page should be scrollable and alerts

[2021-02-13 02:18] Rahulm2310 commented on #30
@annabauza Can you please confirm/approve this issue. This can be a good first timer issue.

[2021-02-13 03:38] Rahulm2310 opened #31 "Bug : Incorrect links to Code of Conduct, Contributing Guidelines and Reporting Guidelines in readme.md"
### Describe the bug

The links to Code of Conduct, Contributing Guidelines and Reporting Guidelines are incorrect.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/anitab-org/stem-diverse-tv-cms#contributing
2. Click on Contributing Guidelines
4. See error

### Expected behavior

Links to these files should be corrected :
1. Code of Conduct -> https://github.com/anit

[2021-02-13 03:40] Rahulm2310 commented on #31
@annabauza Can you please label it as a "First Timers only" issue. Thanks 🙂

[2021-02-13 09:09] chinmaym07 commented on #30
@Rahulm2310 have you tested these locally .?
Also the error that displays for a second that's not a error that's a confirmation that password matched & It should go like that , it occurs on the hosted because we are not getting back the correct response from the backend. Try this locally you will get it .
The errors are shown in red & confirmation is shown in blue .

![Peek 2021-02-13 14-36](https

[2021-02-13 17:19] Rahulm2310 commented on #30
@chinmaym07 On my 14-inches screen, I face the issue and have added the GIF for the same. May be you possess a larger display.

I mentioned alert and not error. I think the message even if a confirmation should stay at least for 2 seconds. Otherwise there is no point displaying them.

[2021-02-13 17:35] chinmaym07 commented on #30
@Rahulm2310 It just a sign of notifying the user that he had entered correct credentials & in last GIF that I posted it stays there for more than 2-3 seconds & the GIF you posted above looks blurred to me sorry I am unable to find where the issue is with displaying of Registeration form.
Please check it once more , If you still face this issue of bad visibility of Registeration form.

[2021-02-14 10:10] ayan-biswas0412 commented on #28
we can make a countdown clock here and give the GitHub project link saying "this is under development and please contribute to our project" please add your thoughts @isabelcosta and I can also work in this if approved and labelled

[2021-02-14 10:32] ayan-biswas0412 opened #33 "Welcome unknown user when first visiting website"
### Describe the bug
When I first opens the website it shows welcome unknown user

### To Reproduce
Steps to reproduce the behavior:
First run the project locally as per the instruction in readme
1. Go to http://localhost:3000
4. See error

### Expected behavior
There should be a common welcome page and after login it should return the message Welcome user_name.
For this I think we have to return

[2021-02-14 12:54] isabelcosta commented on #28
cc'ing @annabauza as she has more context on this website :)

[2021-02-15 21:29] #26 closed

[2021-02-16 18:40] Rahulm2310 opened #34 "Feat: Deploying the project on heroku or netlify."
### Is your feature request related to a problem? Please describe.

As gh-pages is already occupied by anitab-org.github.io website, we sometimes get incorrect/conflicting routes in this project.
For example: /login route when refreshed throws error. Although, it is completely normal gh-pages behavior as it looks for a repository named `login'. Similar issue is faced with register route.
![stem-cm

[2021-02-16 18:42] Rahulm2310 commented on #34
@annabauza Please share your views. 🙂

[2021-02-17 05:02] Aryaman19 commented on #27
I have made the required changes but I cannot test those because of cors policy. Has cors been added in backend??
![Screenshot (355)](https://user-images.githubusercontent.com/46364632/108158561-2ee0de80-710b-11eb-978c-25eda2ad523a.png)

[2021-02-17 05:22] Aryaman19 commented on #27
But when I have disabled cors policy in the browser , I am able to register successfully.
![Screenshot (356)](https://user-images.githubusercontent.com/46364632/108159959-1e7e3300-710e-11eb-92e9-1c02890939fd.png)

[2021-02-17 05:25] Aryaman19 commented on #27
Should I create a Pull Request then?? @annabauza
But even if we merge the changes , in normal browsers register will not work untill we enable cors in the backend.

[2021-02-17 19:02] NenadPantelic commented on #12
I do, but I cannot fully implement it until we implement some things on the backend (error cases)

[2021-02-17 21:18] annabauza commented on #34
@Rahulm2310 are you paying for heroku? Rather then that I would suggest to keep stem-diverse-tv-cms as root in package.json :)

[2021-02-17 21:19] annabauza commented on #33
can you specify the content @ayan-biswas0412 ?

[2021-02-17 21:42] ayan-biswas0412 commented on #33
Yah like we can give e coming soon page or just normal welcome to our stem diverse TV CMS like this we can show

[2021-02-18 01:01] jalajcodes commented on #12
Gotcha! 😉

[2021-02-18 18:14] Rahulm2310 commented on #34
@annabauza We can surely do that. But wouldn't it be better to have custom hosting with free providers like netlify or heroku. I think it would be a much robust solution.

[2021-02-18 18:31] Rahulm2310 opened #35 "No show password eye button in Login form"
### Describe the bug

There is no show password eye button on Login form unlike we have in register form.

### To Reproduce
Steps to reproduce the behavior:
1. Go to http://localhost:3000/login
3.  See error

### Expected behavior

There should be a show/hide password toggle eye button

### Screenshots

##### Login :
![stem-login-form](https://user-images.githubusercontent.com/54268438/108404034-6

[2021-02-18 18:32] Rahulm2310 commented on #35
@annabauza This can be a good `First Timers only` issue.

[2021-02-18 19:29] annabauza commented on #34
Those free hosting providers have limits and we already used them all. We plan this things very carefully with admins, because at some point we need to scale up and those calculations need to be taken under consideration. We know. it's easier, quicker and yare yare, but we trying to do our work here smart, rather than lazy and costly.

[2021-02-19 08:38] Joy-FrontEnd commented on #31
Hello Team,

Would like to contribute on this.

[2021-02-19 19:08] Rahulm2310 commented on #34
@annabauza Got your point 👍 . Should I create seperate issue to add stem-diverse-tv-cms as root in package.json or edit this issue description ?

[2021-02-20 10:56] annabauza commented on #35
approved

[2021-02-20 10:58] annabauza commented on #34
please rise the bug that all links should be prefixes by https://anitab-org.github.io/stem-diverse-tv-cms/ so we should have https://anitab-org.github.io/stem-diverse-tv-cms/login instead of https://anitab-org.github.io/login etc.

[2021-02-20 10:59] #34 closed

[2021-02-20 11:00] annabauza commented on #28
@nandini45 can you please provide design for this page?

[2021-02-20 11:03] annabauza commented on #30
approved. I don't think it's first timer issue.

[2021-02-20 11:05] annabauza commented on #31
approved. @Joy-FrontEnd welcome and issue is yours :)

[2021-02-20 11:06] annabauza commented on #33
closing, duplicate #28

[2021-02-20 11:06] #33 closed

[2021-02-20 11:11] annabauza commented on #9
Reopening because register does not work on github static pages

[2021-02-20 11:12] annabauza commented on #9
closing there is separate issue for that

[2021-02-20 11:12] #9 closed

[2021-02-20 11:16] annabauza commented on #27
please create backend issue for that. If you have fix please create feel free to create PR.

[2021-02-20 11:16] #27 closed

[2021-02-20 11:55] jalajcodes commented on #30
@annabauza Can I work on it?

[2021-02-20 12:38] Joy-FrontEnd commented on #31
@annabauza Done. This is my first contribution on github! Hope I did the correct thing 🤗🤗

[2021-02-20 17:07] Rahulm2310 opened #37 "Bug: all links should be prefixed by /stem-diverse-tv-cms"
### Describe the bug

As gh-pages is already occupied by anitab-org.github.io website, we sometimes get incorrect/conflicting routes in this project.
For example: /login route when refreshed throws error. Although, it is completely normal gh-pages behavior as it looks for a repository named `login'. Similar issue is faced with register route.

### To Reproduce
Steps to reproduce the behavior:
1. G

[2021-02-20 17:07] Rahulm2310 commented on #37
@annabauza I would like to fix this. 🙂

[2021-02-20 17:09] nandini45 commented on #28
sure @annabauza i will try and submit my work asap

[2021-02-20 19:36] Amulya-coder commented on #37
@Rahulm2310 this could be a good `first-timers` issue it is better if you give chance to other contributors to work on this :)

Cc: @annabauza

[2021-02-21 09:47] annabauza commented on #31
Thank you @Joy-FrontEnd, please add issue number to PR followed by hash, so this issue can be automatically closed after we merge PR.

[2021-02-21 10:17] Joy-FrontEnd commented on #31
@annabauza updated. Hope I did the correct thing..?

[2021-02-21 22:09] guptag911 commented on #35
@annabauza Can I work on this issue?

[2021-02-22 20:11] annabauza commented on #37
@Amulya-coder I think it's actually quite tricky issue cause on top of that we want to investigate what breaks router links.

[2021-02-22 20:12] annabauza commented on #35
@guptag911 yours

[2021-02-23 03:40] jalajcodes commented on #29
@chinmaym07 please update us on your progress? It's a blocker for the cms.

Also, can you change the issue title to also include registration as it also has the same problem.

[2021-02-23 04:40] chinmaym07 commented on #29
@jalajcodes  sorry for the delay as my exams are going on ..will try to complete this today.

[2021-02-24 17:18] Rahulm2310 commented on #37
@annabauza Exactly. Can I be assigned this ?

[2021-02-24 17:58] annabauza commented on #37
Yes your @Rahulm2310

[2021-03-01 20:04] Rahulm2310 opened #42 "[Feat]: Create config.yml for Welcome Bot"
## Description
As a first time contributor,
I need a bot to help guide my first contribution,
so that I can follow this org's contribution guidelines.

## Mocks
![welcomebot](https://user-images.githubusercontent.com/54268438/109551979-40f15280-7af7-11eb-871a-2b04b03bb0a3.png)

## Acceptance Criteria
- [ ] newIssueWelcomeComment is complete with the correct links to this repo.
- [ ] newPRWelcomeCo

[2021-03-01 20:05] Rahulm2310 commented on #42
@annabauza Can you please add labels to this. 🙂

[2021-03-02 20:17] #37 closed

[2021-03-02 20:19] #35 closed

[2021-03-02 20:20] #31 closed

[2021-03-09 15:01] nlok5923 commented on #42
can i work on this issue if it is approved.

[2021-03-10 03:33] HeroicHitesh opened #43 "bug: 405 returned while registering on deployed website"
### Describe the bug
Status Code 405 is returned while registering as a new user on deployed website

### To Reproduce
Steps to reproduce the behavior:
1. Go to [`https://anitab-org.github.io/stem-diverse-tv-cms`](https://anitab-org.github.io/stem-diverse-tv-cms)
2. Click on the `Register` button at the top
2. Fill in all the details
3. Click on `Register`
4. See the status code in the network tab

[2021-03-10 06:52] annabauza commented on #42
@nlok5923 yours

[2021-03-10 06:53] annabauza commented on #30
@jalajcodes yours

[2021-03-10 07:10] chinmaym07 commented on #43
@HeroicHitesh I think this issue is when you try to register on the hosted app & an issue #29 is already opened for this & a PR #40 is approved & will fix that ...Thankyou .. 👍🏻  😁

[2021-03-10 07:18] HeroicHitesh commented on #43
@annabauza Your thoughts? Should I close this issue?

[2021-03-13 01:13] jalajcodes opened #45 "Remove unrelevant details from the Pull request template"
### Describe the bug
In the checklist of the current Pull request template there a line,

This line shouldn't be there.

### To Reproduce
Steps to reproduce the behavior:
Check `PULL_REQUEST_TEMPLATE.md` file inside `.github` folder.

[2021-03-13 01:14] jalajcodes commented on #45
@annabauza Kindly label it as a first timers issue. 🙂

[2021-03-13 02:30] jalajcodes commented on #30
@Rahulm2310 Do you agree with what @chinmaym07 said about the errors and confirmation?

In your case, the error stays for just a fraction because the request never gets sent to the correct url.  This should be fixed soon.

[2021-03-13 04:49] jalajcodes commented on #30
I think its not necessary to show a confirmation when passwords match... instead, it should check if they don't match and then show the error and return from the function so the request doesn't get sent.

[2021-03-18 18:31] Amulya-coder opened #46 "clean: Remove .github/ISSUE_TEMPLATE folder"
## Description
As a org contributor,
We need to maintain 1 version of issue templates used in the organization,
so that we can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on https://github.com/anitab-org/.github, we don't need to have issue templates present in the repository.

##

[2021-03-21 20:11] Rahulm2310 commented on #30
@jalajcodes Are you working on this. If not started, you can make it available for OSH.

[2021-03-21 20:12] Rahulm2310 commented on #43
@HeroicHitesh I think this is duplicate of #29. You can close it.

[2021-03-21 20:38] Rahulm2310 opened #48 "Bug: 404 Page Not Found on refreshing a page on gh-pages"
### Describe the bug

We get a `404 Page Not Found` error when refreshing a page. Actually, this happens because github pages doesn't supports single page apps. It doesn't have access to front-end routes.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/stem-diverse-tv-cms/login
2. Refresh the page
4. See error

### Expected behavior

We should not get a 404

[2021-03-21 20:50] chinmaym07 commented on #48
This happens to /register also .. Please include that too ..!! @Rahulm2310

[2021-03-22 01:37] HeroicHitesh commented on #43
Sure @Rahulm2310
@annabauza Closing this now as PR #47 already exists solving #29

[2021-03-22 01:38] #43 closed

[2021-03-22 01:39] jalajcodes commented on #30
@Rahulm2310 yeah that's what I want to do, just waiting to get access to label issue😉

[2021-03-22 18:06] Rahulm2310 commented on #48
@chinmaym07 It is a generic issue and happens with all routes.

[2021-03-22 18:25] Rahulm2310 opened #49 "Bug: make the terms & conditions checkbox 'required on register form"
### Describe the bug

The register button should

### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

### Screenshots

### Desktop (please complete the following information):
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

### Smartphone (please complete the following information

[2021-03-22 18:52] Rahulm2310 opened #50 "Bug: name and password fields in register form accepts space input"
### Describe the bug

The name field in the register form accepts space input and shows no error.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/stem-diverse-tv-cms/register
2. Enter `" "` in the name and password fields
3. Enter other details
4. Click Register
5. See error

### Expected behavior

`Name`, `Password` and `Confirm Password` fields should not

[2021-03-22 19:11] Rahulm2310 opened #51 "Bug: minimum password length alert not shown in login form"
### Describe the bug

Minimum password length alert not shown in login form when a user enters a password of length smaller than 6.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://anitab-org.github.io/stem-diverse-tv-cms/login
2. Enter password of length smaller than 6
3. Click login
4. See error

### Expected behavior

An alert should show up like similar to `register` form in

[2021-03-23 08:39] khushishikhu opened #52 "Feat: Migrating documentation from github wiki to docusaurus"
### Is your feature request related to a problem? Please describe.

Current documentation is fine but with docusaurus , the documentation becomes more readable and maintainable.

### Describe the solution you'd like

Moving the project's documentation to [docusaurus](https://docusaurus.io/)

[2021-03-23 09:32] Aaishpra opened #53 "Bug: Add some margin on navbar and temporary content"
### Describe the bug

Less margin between the navbar and content in temporary homepage
### To Reproduce
Steps to reproduce the behavior:
1. Go to Homepage
2. See error

### Expected behavior

Add some margin/padding between the content and navbar.
### Screenshots

![image](https://user-images.githubusercontent.com/66299533/112124591-854cab80-8be8-11eb-86b3-f257d858297e.png)

### Desktop (please co

[2021-03-23 14:18] Amulya-coder opened #54 "Setup black formatter"
### Is your feature request related to a problem? Please describe.

As a developer, I need to have good, structured, readable code to be able to read through it painlessly and effortlessly.

### Describe the solution you'd like

The idea is to run Black through a single pass, Add workflow to ensure code is formatted before it is merged to main codebase.

### Additional context

Black formatter is

[2021-03-23 16:24] jalajcodes commented on #54
Umm... you're aware this project uses javascript not python, ryt?

[2021-03-23 16:47] Amulya-coder commented on #54
Ohh!😣 sorry @jalajcodes I forget about this project uses javascript only.

[2021-03-23 16:47] #54 closed

[2021-03-23 17:17] Amulya-coder opened #55 "Add code linter and formatter to enhance code quality and maintain consistency"
### Is your feature request related to a problem? Please describe.

It is necessary for a project to have clear consistent coding conventions. Besides that linting is also very helpful for finding certain classes of bugs and fixing them before runtime.

### Describe the solution you'd like

[Eslint](https://eslint.org/) and [Prettier](https://prettier.io/) is the most popular code linter and forma

[2021-03-23 17:18] Amulya-coder commented on #55
@annabauza can you please approve this issue.

[2021-03-24 17:42] Rahulm2310 commented on #30
@jalajcodes unassigning you and opening this for OSH aspirants 😉

[2021-03-24 17:45] Amulya-coder opened #56 "Bug: "About Stem-diverse-tv" present two times"
### Describe the bug

In the readme About Stem-diverse-tv" is present two times remove one.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/mentorship-backend#documentation'
2. See error

### Expected behavior

Remove one "About Stem-diverse-tv"

### Screenshots

![image](https://user-images.githubusercontent.com/66437295/112358917-c3d08c00-8cf6-11eb-8810

[2021-03-24 17:48] Rahulm2310 commented on #52
@khushishikhu Currently we only have a single page in the wiki so I don't think there is a need for any migration.

[2021-03-24 17:55] Rahulm2310 commented on #53
@Aaishpra as you already know, this is just temporary and will be removed as soon as the design for the home page is ready. I don't think there is need for this as the project is not in production. We can let it be as it is and wait for the designs.

[2021-03-24 17:59] Rahulm2310 commented on #56
@Amulya-coder Not sure if they are redundant. The first heading is for `Stem-diverse-tv-CMS` and the second one for `Stem-diverse-tv`.

[2021-03-24 19:30] Amulya-coder opened #57 "Bug: Update Readme"
### Describe the bug
Here it is written Stem-diverse-tv is the frontend of the project

![image](https://user-images.githubusercontent.com/66437295/112371048-2bd99f00-8d04-11eb-8377-7b24a21fd017.png)

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/anitab-org/stem-diverse-tv-cms#about-stem-diverse-tv-project'
2. See error

### Expected behavior

Correct it to <b>back

[2021-03-26 17:00] Rahulm2310 opened #58 "Docs: Remove table of contents from the readme.md"
### Describe the bug
As now with the GitHub UI, we have a dropdown list for table of contents, we don't need a manual table of contents anymore.

### Expected behavior
Remove the manually added table of contents from the readme.md

### Screenshots
![image](https://user-images.githubusercontent.com/54268438/112667177-f7d8b800-8e82-11eb-8fbe-92a81c0c4fab.png)

![image](https://user-images.githubuser

[2021-03-27 11:41] #29 closed

[2021-03-28 17:56] khushishikhu opened #59 "UI: Add the badge in Readme.md"
### Is your feature request related to a problem? Please describe.

I would like if we can have the badges of Tech Stack in the Readme.md .

##Badges
Badges can be for reactjs , html and other tech-stack used in this project

[2021-03-30 17:40] Rahulm2310 opened #60 "Task: Set up local environment"
## Description
As a contributor
I need to set up local environment for stem-diverse-tv-cms and send screenshots,
so that I can provide proof of the same.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Set up local environment
- [ ] Provide GIF of a successful login attempt showing the complete login flow in the comments below.

## Definition of Done
- [ ] All of the required item

[2021-03-30 17:56] Rahulm2310 commented on #59
@khushishikhu Can you please be more descriptive. The issue looks vague.

[2021-04-02 08:45] #42 closed

[2021-04-03 03:29] jalajcodes commented on #12
@NenadPantelic Are you still working on it? we can make it available for OSH

[2021-04-03 09:05] NenadPantelic commented on #12
@jalajcodes I unassigned myself, I waited for the things to be solved on the backend. I'm overstacked with some other things, so I made it available for the OSH.

[2021-04-03 15:04] nandini45 commented on #59
@khushishikhu  can you update the work as Rahul said

[2021-04-03 15:18] khushishikhu commented on #59
@Rahulm2310 I have updated the issue description. I guess it looks right now

[2021-04-03 15:29] annabauza commented on #59
I don't think it's a UI task, you don't design those badges, no?

[2021-04-03 15:37] khushishikhu commented on #59
@annabauza yes you are right , we do not design those badges but those are similar to those which are already in the Readme (like zulip chat and open source badge). But those are available on the internet which can be added easily by which Readme will look more good

[2021-04-03 16:08] annabauza commented on #59
@khushishikhu can you remove the ui label please?

[2021-04-03 16:10] annabauza commented on #12
Thanks @NenadPantelic

[2021-04-03 16:24] khushishikhu commented on #59
yes sure

[2021-04-06 06:54] Anmollenka commented on #46
I would like to work on this issue.

[2021-04-06 10:42] Anmollenka commented on #45
I would like to work on this.

[2021-04-06 10:45] Anmollenka commented on #58
I would like to work on this issue.

[2021-04-06 13:47] Rahulm2310 commented on #58
Yours @Anmollenka ☺️. Happy documenting.

[2021-04-06 17:04] Amulya-coder commented on #46
@Anmollenka as you have been already assigned to #58 so I can't assign you this issue after creating a successful pr you can claim it again then I will assign it to you  :)

[2021-04-08 02:34] jalajcodes commented on #45
Sure, but you need to complete task #60 first. Thanks!

[2021-04-09 05:17] HeroicHitesh commented on #59
@khushishikhu We have labels in the About section for this purpose, I think instead of adding badges in README.md for tech-stacks we can add labels in the About section of the repo that will also help this repository to show up in GitHub Search using labels
cc @annabauza

[2021-04-09 17:01] Aryamanz29 commented on #46
@Amulya-coder I want to work on this issue

[2021-04-09 17:06] Aryamanz29 commented on #55
@Amulya-coder  I would like to work on this

[2021-04-09 17:26] Amulya-coder commented on #46
Your's @Aryamanz29  :)

[2021-04-09 22:31] isabelcosta opened #62 "Configure all-contributors bot"
## Description

As a maintainer,
I need to configure [all-contributors](https://allcontributors.org/) bot,
so that I can better recognize contributors and leaders of this project.

- https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]
- [ ] Add configuration to project https://allcontributors.org/docs/en/bot/configuration
- [x] Add first contributors

[2021-04-10 20:52] devkapilbansal commented on #57
@Amulya-coder this is not a bug

[2021-04-10 20:54] devkapilbansal commented on #56
@Rahulm2310 they are.
We can move the definition in second heading to top making some changes.

[2021-04-10 20:56] #53 closed

[2021-04-10 20:57] devkapilbansal commented on #53
Closing as this is not needed

[2021-04-11 17:12] Amulya-coder commented on #58
@Anmollenka can you please give the Updates!! .

[2021-04-12 08:59] Anmollenka commented on #58
Would raise a pr by tomorrow

[2021-04-12 16:58] Amulya-coder commented on #55
@Aryamanz29 Please go ahead

[2021-04-12 23:56] #46 closed

[2021-04-13 00:01] #62 closed

[2021-04-14 08:08] devkapilbansal commented on #60
Any OSH participant can send a pull request for this. No need for `first timers` label

[2021-04-15 13:50] devkapilbansal commented on #59
@HeroicHitesh labels are added in about section to make the repository searchable but in README file for the users to know more about the project.

[2021-04-15 14:06] devkapilbansal opened #65 "fix: Incorrect stars and forks in README badge"
### Describe the bug

The stars and forks count displayed in README.md file is inconsistent with the actual numbers.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [main page of this repo](https://github.com/anitab-org/stem-diverse-tv-cms)
2. See Inconsistency with number of stars and fork count

### Estimated Time
0.5 hrs

[2021-04-15 15:22] keshavgbpecdelhi commented on #65
Hi, I am a beginner. Could you pls assign this to me?

[2021-04-15 15:30] keshavgbpecdelhi commented on #65
Thankyou Sir

Do we have to change this 33 and 68 to 3 and 18?

![20210415_205731](https://user-images.githubusercontent.com/56075233/114895750-616a3780-9e2d-11eb-9085-2762c26d3dd2.jpg)

And can you pls share the reference how to do it. (If possible)

[2021-04-15 17:04] Aryamanz29 commented on #65
Yeah, you got this right just open `README.md` and figure out where this link points to. I think it's using `shields.io` behind the scenes and you need to change that links only.

For ref: https://shields.io/category/social

[2021-04-15 17:10] keshavgbpecdelhi commented on #65
Thanks for the explaination and the reference. Now understood🙏

[2021-04-15 19:10] #65 closed

[2021-04-16 06:15] Aryamanz29 commented on #51
I want to give a try to this, could you please assign it to me @Rahulm2310

[2021-04-16 07:34] Rahulm2310 commented on #51
@Aryamanz29 This issue is for first timers. I see you are assigned to #55. Please pick any other non-first timer issue. 🙂

[2021-04-19 08:24] Aryamanz29 commented on #48
I want to give it a try, Could you assign this to me? @Rahulm2310

[2021-04-19 08:43] Rahulm2310 commented on #48
Yours @Aryamanz29 . Happy Researching 🎉

[2021-04-22 17:06] aparnaabraham commented on #50
Hello @Rahulm2310, Can you assign me to this issue?

[2021-04-22 18:45] Rahulm2310 commented on #50
Sure @aparnaabraham. Please complete the necessary task #60 before working on the fix ☺️

[2021-04-23 05:08] aparnaabraham commented on #60
Hi, @Rahulm2310 can you please assign me to this issue.

[2021-04-23 05:10] Rahulm2310 commented on #60
@aparnaabraham no need to get assigned to this. This task is open for everyone. You can setup the environment and send a PR. ☺️

[2021-04-23 17:14] aparnaabraham commented on #60
Hey, I set up the local environment but when I try to register, it shows Network Error.
Tried a number of times, but the problem persists.
![image](https://user-images.githubusercontent.com/55648732/115905793-395d8280-a484-11eb-99d4-ae2ef0d041ff.png)

[2021-04-23 18:47] Rahulm2310 commented on #60
@chinmaym07 I think you would know the something about it

[2021-04-23 19:48] chinmaym07 commented on #60
Thankyou @Rahulm2310 !!! 🎉 👍🏻
Hey @aparnaabraham 👋🏻 !!
Can you please share a snap of the error that you are getting in terminal ? so that I can help as network error may occur due to many different reasons .

[2021-04-24 03:01] aparnaabraham commented on #60
![image](https://user-images.githubusercontent.com/55648732/115945048-4b1c4580-a4d7-11eb-8ae3-0044ef382794.png)
Hey, @chinmaym07 this is what I am getting in the terminal.

[2021-04-24 08:15] chinmaym07 commented on #60
@aparnaabraham is stem-diverse-tv backend running simultaneously?

[2021-04-28 18:58] jaivanti commented on #59
Hi, I have pulled a request to add react, html, css, typescript badges in readme.md file. Do have a look!
Cheers!

[2021-04-29 02:53] Aryamanz29 commented on #48
@Rahulm2310  Hii,👋
I have doubts about how to raise PR for this kind of issue? I need to submit a doc link or code🤔?

[2021-04-29 04:18] Rahulm2310 commented on #48
Hi @Aryamanz29, you need to submit link to a google doc explaining the solution. So that others can give their feedback on it.

[2021-04-29 04:23] Rahulm2310 commented on #59
@jaivanti if you want to work on this issue then you need to comment here requesting a maintainer to assign you. Once you are assigned, only then submit a PR. Good Luck 😊

[2021-04-29 07:43] jaivanti commented on #59
Oh! Sorry for that. I will do follow it from next time

[2021-04-29 13:25] Aryamanz29 commented on #48
@Rahulm2310  Done :+1: , Could you please review my PR :smile:

[2021-04-30 13:02] jaivanti commented on #59
@khushishikhu Can you please assign me and check my pull request too. Sorry! I didn't know that we had to first get assigned

[2021-05-24 20:12] #58 closed

[2021-06-06 22:10] #59 closed

[2021-06-06 22:11] #55 closed

[2021-06-07 14:24] RR-Sahoo commented on #51
hyy @Rahulm2310 can I work on this issue as I'm new yo open source.

[2021-06-07 17:18] Rahulm2310 commented on #51
Sure @RR-Sahoo. Assigning you.🙂

[2021-06-08 04:11] RR-Sahoo commented on #51
Hey @Rahulm2310 actually I only know  html CSS and JavaScript, so can you tell me how to start this issue as I am beginner to opensource.

[2021-06-08 04:22] RR-Sahoo commented on #51
And the link you have provided on the top comment shown a 404 error

[2021-09-11 06:17] VenomFate-619 commented on #49
can I fix it?

[2021-09-11 10:31] isabelcosta commented on #49
@VenomFate-619 sure! I will assign this to you :)

[2021-09-13 18:40] VenomFate-619 commented on #49
It is seen to be already fixed .
it is working correctly both on live site and locally
**Code for reference**
`<Checkbox
              color="primary"
              name="termsAndConditionChecked"
              onChange={() => setTermsAndConditions(!termsAndConditionChecked)}
              required
/>
`

On production website :-
![image](https://user-images.githubusercontent.com/67755128/133138202

[2021-09-13 19:00] VenomFate-619 commented on #49
A new bug is created, although I clicked the checkbox but also the error message is displayed.

![image](https://user-images.githubusercontent.com/67755128/133140282-9f4c9955-8f92-4fda-839d-920e95abe1f5.png)

ss from the network tab

![image](https://user-images.githubusercontent.com/67755128/133141141-89977086-8ae2-4708-ba87-f53f74395bf4.png)

**I think the error is from frontend it is not sendin

[2021-09-13 19:55] isabelcosta commented on #49
@VenomFate-619 would you like to create an issue for this error you mentioned?

[2021-09-14 05:28] VenomFate-619 commented on #49
Yes, I would like to.
I had created a new error , can you assign it to me #71

[2021-09-14 05:43] VenomFate-619 opened #71 "Bug: terms & conditions checkbox is checked but also the error is prompting"
### Describe the bug

Although I already checked the terms & conditions checkbox but also the error message is displayed.
### To Reproduce
Steps to reproduce the behaviour:
1. Go to 'register page'
2. Fill in the info
3. Checked the terms & conditions checkbox.
4. See an error

### Expected behaviour

If I  filled the form properly, it should be submitted.
### Screenshots

![image](https://user-im

[2021-09-14 05:47] VenomFate-619 commented on #71
Can I do this?

[2021-09-15 20:31] isabelcosta commented on #71
Yes @VenomFate-619 ! I will assign this to you :)

[2021-09-18 07:12] VenomFate-619 commented on #71
Where to find APIs documentation?

[2021-09-22 17:41] nlok5923 commented on #56
@devkapilbansal is this issue open to work on.

[2021-09-22 17:42] devkapilbansal commented on #56
Yes, would you like to work??

[2021-09-22 17:43] nlok5923 commented on #30
@Rahulm2310 can i take up this issue.

[2021-09-22 17:54] nlok5923 commented on #56
Yeah

[2021-10-14 13:24] VenomFate-619 commented on #57
Can I take it?

[2021-10-14 16:55] Amulya-coder commented on #57
Sure @VenomFate-619 Assigning you!

[2021-10-18 13:23] VenomFate-619 commented on #57
I cannot make PR as my existing pr #71 is not merged.
Any solution for this?

[2021-10-18 13:25] devkapilbansal commented on #57
@VenomFate-619 pull request is never made from default branch(master in your case).

Nvm, try to make a new branch, update it with upstream and then make a pull request

[2021-10-18 13:26] devkapilbansal commented on #57
Also, this is first timers only issue. You should try for others

[2022-01-13 16:41] MonkeyNinjaGame commented on #48
Is there a solution for this? Thanks!

[2022-03-08 23:33] AngelicaGE commented on #48
Is there a solution for this? I am facing same issue with repo that has a react project.
Thanks!

[2022-03-21 14:14] Moussashi commented on #48
No solutions yet for this problem. unfortunately

[2022-04-19 08:25] catherineisonline commented on #48
Joining the thread to find out whether someone found any solution to this. I have been researching this for almost a month and had no luck so far, unfortunately!

[2022-05-08 02:25] willianbraga commented on #48
Hello, I found a workaround to solve this, I was facing the same problem on my angular app I hope it works as well for you.
So first you will need to add a new page named 404.html to you repo.

[code]

If you are not using custom domain on Github Pages set `pathSegmentsToKeep = 0`, otherwise set `pathSegmentsToKeep = 1`.

Copy this script and add to you index.html.

[code]

On you build folder nee

[2022-08-11 15:13] Devang-Shah-49 commented on #57
I would like to work on this issue! Please assign if issue is available

[2022-08-11 16:43] devkapilbansal commented on #57
@Devang-Shah-49 please continue 😄

[2022-08-12 06:02] Devang-Shah-49 commented on #56
@devkapilbansal I would like to work on this issue.
Aim is: To combine the two headings into one with a few changes, right??

[2022-08-12 06:10] Devang-Shah-49 commented on #57
I made a PR (https://github.com/anitab-org/stem-diverse-tv-cms/pull/83) but it failed "QA Checks / Linters and Formatters". Can I know why this happened and what should I do to correct it? @devkapilbansal